div{
    border: 1px solid black;
}
.big-box{
    display: flex;

}
.sidebar{
    flex: 1;
    padding: 10px;
    border: 5px solid purple;
 
}
.sidebar input[id="pages"]
{
    margin-bottom: 10px;
}
.hidden{
   display: none;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    
}
.read{
    background-color: red;
}
.green{
    background-color: lime;
}
.book-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card h3{
    align-self: end;    
    margin-right: 30px;
    
}
.new-book-button{
    width: 200px;
    align-self: center;
}